.top{
    height: 100px;
    background: url(../images/top-bg.png);
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 100px;
    color: aquamarine;
}
.later{
    height: 50px;
    /* background: url(../images/top-bg.png); */
    background: bisque;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: rgb(127, 246, 255);
}
table{
    width: 1190px;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 2px;
    border: 2px solid gold;
}
table thead{
    height: 50px;
}
table tbody{
    height: 250px;
}
table tr{
    height: 50px;
    border: 1px solid hotpink;
}
ul li table img{
    width: 140px;
    height: 140px;
}
.payment{
    width: 1190px;
    margin: 0 auto;
    height: 100px;
}
.payment strong{
    width: 300px;
    float: right;
    line-height: 100px;
    height: 100px;
    font-size: 30px;
}
.payment strong span{
    color: hotpink;
}








