#header{
    width: 100%;
    background: black;
    height: 100px;
    padding-left: 100px;
}
#header ul li{
    margin: 10px;    
    float: left;
    height: 80px;
    line-height: 80px;
}
#header ul li a{
    color: cornsilk;
    font-size: 20px;
}
.container{
    width: 1190px;
    margin: 0 auto;
}
#box{
    float: left;
    width: 520px;
    height: 520px;
    border: 1px solid #000;
    position: relative;
}
#big{
    width: 520px;
    height: 520px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    top:0;
    left : 360px;
    display: none;
}
#mask{
    width: 260px;
    height: 260px;
    position: absolute;
    left:0;
    top: 0;
    /* background: url(../images/001.jpg); */
    /*opacity: 0.3;*/
    /*display: none;*/
    cursor: move;
}
#small{
    position: relative;
}
#bigImg{
    position: absolute;
    left: 0;
    top: 0;
}
/* #center{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #0000FF;
    opacity: .3;
} */
.product{
    width: 520px;
    height: 520px;
    border: 3px solid darkblue;
    border-top: 0;
    margin-left: 10px;
    float: left;
}
.product p{
    width: 520px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;

}
.product p span{
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;

}
.product b{
    display: block;
    width: 520px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
}
.product strong{
    display: block;
    width: 520px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
}
.product strong span{
    color: darkred;
}

.product .number{
    width: 520px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 50px;
}
.product .number p{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    float: left;
}
.product .number input{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    float: left;
}
.product .number span{
    margin: 0 5px;
    font-size: 28px;
    width: 30px;
    border: 1px solid #000;
    float: left;
    text-align: center;
}
.product a{
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: darkred;
    font-size: 30px;
    color: #fff;
    margin-left: 30px;
}
